:root {
    --color-secondary: #1d1d1e;
    --color-primary: #14b8a6;
}

html,
body {
    height: 100%;
}

.mf {
    border: solid 4px #1d1d1e;
    border-radius: 1rem;
    padding: 0.25rem .5rem;
    cursor: default;
}




.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-primary {
    background-color: var(--color-primary);
}

* {
    font-family: "Mulish", sans-serif;
}

.bold {
    font-weight: 900;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-secondary);
}

.section-1 {
    padding: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.fs-medium {
    font-size: 2rem;
}

.fs-large {
    font-size: 3rem;
}

.pp {
    height: 25rem;
    width: 25rem;
    margin: 8rem;
    border-radius: 50%;
    border: solid 0.5rem var(--color-secondary);
    cursor: pointer;
}

.description-text {
    font-size: 3.5rem;
    font-weight: 800;
    max-width: 800px;
    text-align: center;
    line-height: 3.3rem;
    cursor: default;

}

.section-featured-work {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-skills {
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}



.skill-box {
    height: 200px;
    min-width: 300px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;
    background-color: #ecebee;
    transition: all 150ms ease-in-out;
}

.gradient-text {
    background: #00b09b;
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
    background: linear-gradient(to right, #96c93d, #00b09b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.skill-box:hover {
    background-color: white;
    box-shadow: var(--color-secondary) 2px 2px 0 5px;
}

.skill-box:hover>img {
    animation: rubberBand;
    animation-duration: 1s;
}

.skill-box:hover>span {
    animation: headShake;
    animation-duration: 1s;
}

.skill-box:last-child {
    width: 100%;
    flex: 1;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin: 2rem;
    margin-bottom: 0;
    line-height: 2.5rem;
}

.subtitle {
    font-size: 2rem;
    text-align: center;
}

.technologies-container {
    padding-bottom: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.technology-tick {
    border-radius: 0.75rem;
    padding: 3px 8px;
    background-color:#d8d7d9;
    transition: all 300ms;
    cursor: default;
}

.technology-tick:hover{
    background-color: white;
    box-shadow: var(--color-secondary) 1px 1px 0 3px;
}

.technology-tick img {
    height: 20px;
    width: 20px;
}



.card {
    border-radius: 1rem;
    overflow: hidden;
    transition: all 300ms;
    background-color: #eaeaeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: #1d1d1e;
    padding: 0 1rem;
    transition: all 300ms;
}

.card:hover {
    transform: translate(0, -0.5rem);

}

.card>img {
    box-shadow: #dcdcdc 5px 5px 10px;
    margin: 1rem;
    border-radius: 0.5rem;
}


.card-subtitle {
    text-align: center;
    padding: 0.5rem;
    font-weight: 800;
    font-size: 1.2rem;

}

.card-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 7rem;
}


.footer {
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 800;
    background: #00C9FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92FE9D, #00C9FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100%;
    text-align: center;
}

.btn-normal {
    position: relative;
    overflow: hidden;
    padding: 0.2rem 0.5rem;
    border-bottom: solid 0.5rem #1d1d1e;
}


.btn-contact-me {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: #bababa 1px 1px 5px;
}

.btn {
    transition: all 300ms;
}

.btn:hover {
    color: white;
}


.btn::before {
    position: absolute;
    top: 0;
    left: -50px;
    height: 200%;
    width: 0;
    transform: skewX(35deg);
    content: '';
    z-index: -1;
    transition: all 400ms ease;

    background: var(--color-secondary);
}

.btn:hover::before {
    width: 200%;
}







.snowflake {
    --size: 5px;
    width: var(--size);
    position: absolute;
    z-index: -10;
    height: 50px;
    transform-origin: bottom;
    transform: rotate(45deg);
    border-bottom: solid 3px var(--color-secondary);

    background: #2980B9;
    background: -webkit-linear-gradient(to bottom, #ffffff, #6DD5FA, #6DD5FA);
    background: linear-gradient(to bottom, #ffffff, #6DD5FA, #6DD5FA);
}

.snowflake-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -10;
}

.snowflake-animate {
    animation: moveAcrossScreen 5s linear infinite;
    opacity: 0;

}


@keyframes moveAcrossScreen {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    80% {
        opacity: 0.2;
    }

    100% {
        transform: translate(-2000px, 2000px) rotate(45deg);
        opacity: 0;
    }
}

@keyframes bgChange {

    0%,
    100% {
        background: #00C9FF;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    50% {
        background: #92FE9D;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}


@media screen and (max-width: 1200px) {
    .card-container {
        padding: 0;
    }
}


@media screen and (max-width: 760px) {
    .section-1 {
        padding: 5rem 0;
    }

    .card-container {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}